body, html {
    font-size: 16px;
    font-family: arial, sans-serif;
    margin: 0;
    height: 100%;
}

div#sliderFashion {
    max-height: 750px;
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: block;
}

.carousel-inner {
    height: 100%;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    line-height: 1;
}

/* menu */
body {
    -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
    from {
        padding: 0;
    }

    to {
        padding: 0;
    }
}

.mainMenu {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
}

#toggleMenu {
    display: none;
}

#toggleMenu:checked~ul {
    max-height: 100%;
    /*Make page height*/
    opacity: 1;
}

.mainMenu>ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    overflow-y: hidden;
    max-height: 0;
}

.mainMenu li {
    margin: 0;
    padding: 0 20px;
    white-space: nowrap;
    display: block;
    width: 100%;
    float: left;
}

.mainMenu a, .mainMenu a:visited {
    display: block;
    width: 100%;
}

label.menuTitle {
    margin: 0;
    display: block;
    cursor: pointer;
    background: url('../images/menu.png');
    background-image: url('../images/menu.svg'), none;
    background-repeat: no-repeat;
    background-position: 97% 10px;
    background-size: 24px 19px;
}

@media screen and (min-width: 768px) {
    label.menuTitle {
        display: none;
    }

    .mainMenu ul {
        display: block!important;
        border: 0;
        overflow: visible;
        max-height: 100%!important;
    }

    .mainMenu ul li {
        width: auto;
        display: inline;
        border: 0;
    }
}

/*Menu Styling CSS*/
img.logo {
    padding: 20px;
}

.mainMenu {
    /* border-bottom: 1px solid #ccc; */
    text-align: center;
    float: right;
    width: 680px;
    margin-top: 60px;
    position: relative;
    display: block;
    /* bottom: 0px; */
    text-transform: uppercase;
}

.mainMenu li {
    border-top: 1px solid #ccc;
}

.mainMenu a, .mainMenu a:visited {
    color: #333;
    text-decoration: none;
    width: 94%;
    padding: 5px 3%;
    background: none;
}

.mainMenu a:active {
    color: red;
}

label.menuTitle {
    font-size: 20px;
    width: 94%;
    padding: 6px 3%;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .mainMenu li {
        border: 0;
    }

    .mainMenu a:hover {
        color: #ff0000;
        transition: 0.7s;
    }

    .mainMenu a, .mainMenu a:visited {
        padding: 10px 3px 10px 8px;
    }
}
